body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4B8F8C;
}

#laskin{
    background-color: #2B193D;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    color: #80A1D4;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #484D6D;
}

#Nappulat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #2c365e;
    color: #C5979D;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #80A1D4;
}

button:active {
    background-color: #BEDCFF;
}

.OperatorBtn {
    background-color: #2f002f;
}

.OperatorBtn:hover {
    background-color: #600061;
}

.OperatorBtn:active {
    background-color: #820065;
}